################################################################################################################################################################

# @project        Open Space Toolkit ▸ Core
# @file           requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

setuptools==50.3.2
