################################################################################################################################################################

# @project        Open Space Toolkit ▸ Core
# @file           binder/requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

pandas

plotly
ipympl

jupyterlab_launcher>=0.5.0

open-space-toolkit-core>=0.3.0

################################################################################################################################################################
